.env
.env.*
!.env.example
.env.local
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
dist/
build/
media/
temp/
staticfiles/
*.sqlite3
.DS_Store
.vercel/
coverage/
*.log

.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
